body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
}
/* h1,h2,h3,h4,h5,h6,p{
  font-family: 'Rubik', sans-serif;
} */
.fontfamily {
  font-family: "Rubik", sans-serif;
}
